<h1>Films <%= link_to "(+)", new_film_path %></h1>

<ul>
    <% @films.each do |film|%>
            <%= image_tag film.picture %>
            <h3><%= link_to film.title, film_path(film)%></h3>
    <% end %>
</ul>

